# Django
Django==6.0.3
djangorestframework==3.17.1

# Database
psycopg2-binary==2.9.10

# Production server
gunicorn==23.0.0

# Environment variables
python-decouple==3.8

# Static files
whitenoise==6.9.0
